<h2>Add a new customer</h2>

<!-- add a new customer -->
<form name='newCustomer'>
    <label>Customer Name:</label>
    <input type='text' 
        name='customerName'
        ng-model='newCustomer.name'
        ng-minlength='2'/>
    <button class='button-primary' ng-click='addNewCustomer()'>Add</button>
    <p ng-show='errors'>{{ errors }}</p>
</form>
<!-- validations for name -->
<div ng-messages='newCustomer.customerName.$error' role='alert' ng-show='newCustomer.customerName.$touched' style='color:maroon'>
    <div ng-message='minlength'>Your field is too short</div>
</div>

<!-- search bar -->
<input type='text' placeholder='filter...' class='u-pull-right' ng-model='searchText'>

<!-- display customer data -->
<table class='u-full-width'>
    <thead>
        <tr>
            <th>Customer Name</th>
            <th>Date created</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    <!-- use ng repeat for all customers -->
        <tr ng-repeat='customer in customers | filter:searchText'>
            <td ng-bind='customer.name'>M</td>
            <td ng-bind="customer.created_at | date:'longDate'"></td>
            <!-- Create a delete function in factory and controller -->
            <td><button ng-click='removeCustomer(customer)'>Delete</button></td>
        </tr>
    </tbody>
</table>